#line-chart .axis path,
#line-chart .axis line,
#line-chart .axis text {
    color: var(--normal-color);
}

#line-chart .axis text {
    text-shadow: 0 1px #00000066;
}

#line-chart .axis.c_score path,
#line-chart .axis.c_score line,
#line-chart .axis.c_score text {
    color: var(--c_score-color);
}

#line-chart .category.c_score .line {
    stroke: var(--c_score-color);
}

#line-chart .axis.kwh path,
#line-chart .axis.kwh line,
#line-chart .axis.kwh text {
    color: var(--kwh-color);
}

#line-chart .category.kwh .line {
    stroke: var(--kwh-color);
}

#line-chart .axis.cost path,
#line-chart .axis.cost line,
#line-chart .axis.cost text {
    color: var(--cost-color);
}

#line-chart .category.cost .line {
    stroke: var(--cost-color);
}