 .axis path,
 .axis line,
 .axis text {
    color: var(--normal-color);
}

 .axis text {
    text-shadow: 0 1px #00000066;
}

 .axis .label {
    fill: var(--normal-color);
}

 .axis.c_score path,
 .axis.c_score line,
 .axis.c_score text {
    color: var(--c_score-color);
}

 .category.c_score .line {
    stroke: var(--c_score-color);
}


 .axis.c_score .label {
    fill: var(--c_score-color);
}
 .axis.kwh path,
 .axis.kwh line,
 .axis.kwh text {
    color: var(--kwh-color);
}

 .category.kwh .line {
    stroke: var(--kwh-color);
}


 .axis.kwh .label {
    fill: var(--kwh-color);
}
 .axis.cost path,
 .axis.cost line,
 .axis.cost text {
    color: var(--cost-color);
}

 .category.cost .line {
    stroke: var(--cost-color);
}

 .axis.cost .label {
    fill: var(--cost-color);
}